version: '3.8'

services:
  wordpress:
    image: wordpress:latest
    ports:
      - "8080:80" # Maps host port 8080 to container port 80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    depends_on:
      - db
    volumes:
      - wordpress_data:/var/www/html  # Persists WordPress data
      - ./.htaccess:/var/www/html/.htaccess
    restart: always

  db:
    image: mariadb:latest  # Or mariadb:10.11, mariadb:10.6, etc. Specify version if needed
    ports:
      - "33306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root  # VERY IMPORTANT: Change this!
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    # command: --bind-address=127.0.0.1  # prevent remote access
    volumes:
      - db_data:/var/lib/mysql  # Persists database data
    restart: always

volumes:
  wordpress_data:
  db_data:
